In [17]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census

# Census API Key 
from config import census_key
c_2013 = Census(census_key, year=2013)
c_2017 = Census(census_key, year=2017)

In [18]:
census_data_2013 = c_2013.acs5.get(("NAME", "B19013_001E", "B19301_001E", "B23025_002E", "B23025_007E", 
                          "C24010_007E", "C24010_008E", "C24010_043E", "C24010_044E", "B01003_001E",
                          "B25035_001E", "B25058_001E", "B25064_001E", "B25077_001E", "B25088_002E",
                          "B15003_017E", "B15003_018E", "B15003_021E", "B15003_022E", "B15003_023E",
                          "B15003_025E"), {'for': 'zip code tabulation area:*'})
census_pd_2013 = pd.DataFrame(census_data_2013)

census_pd_2013 = census_pd_2013.rename(columns={"B19013_001E": "Income",
                                      "B19301_001E": "Income Per Capita",
                                      "B23025_002E": "Employed",
                                      "B23025_007E": "Unemployed",
                                      "C24010_007E": "Employment Male Computer Engineering and Science Occupations",
                                      "C24010_008E": "Employment Male Computer and Mathematical Occupations",
                                      "C24010_043E": "Employment Female Computer Engineering and Science Occupations",
                                      "C24010_044E": "Employment Female Computer and Mathematical Occupations",
                                      "B01003_001E": "Population",
                                      "B25035_001E": "Median House Construction Year",
                                      "B25058_001E": "Average Rent",
                                      "B25064_001E": "Average Cost of Rent plus Utilities",
                                      "B25077_001E": "Average Value of an Owner Occupied Home",
                                      "B25088_002E": "Average Monthly Housing Expense for a Homeowner with a Mortgage",
                                      "B15003_017E": "People with a High School Diploma",
                                      "B15003_018E": "People with a GED",
                                      "B15003_021E": "People with an Associates",
                                      "B15003_022E": "people with a Bachelors",
                                      "B15003_023E": "People with a Masters",
                                      "B15003_025E": "People with a Doctorate",                                  
                                      "NAME": "Name", 
                                      "zip code tabulation area:*": "Zipcode"})

census_pd_2013.to_csv("Output/census_2013.csv", encoding="utf-8", index=True)
census_pd_2013.head()

,Population,People with a High School Diploma,People with a GED,People with an Associates,people with a Bachelors,People with a Masters,People with a Doctorate,Income,Income Per Capita,Employed,...,Average Rent,Average Cost of Rent plus Utilities,Average Value of an Owner Occupied Home,Average Monthly Housing Expense for a Homeowner with a Mortgage,Employment Male Computer Engineering and Science Occupations,Employment Male Computer and Mathematical Occupations,Employment Female Computer Engineering and Science Occupations,Employment Female Computer and Mathematical Occupations,Name,zip code tabulation area
0,5217.0,1306.0,131.0,256.0,724.0,122.0,22.0,74286.0,33963.0,3220.0,...,986.0,1095.0,206300.0,1726.0,78.0,61.0,96.0,62.0,ZCTA5 08518,08518
1,27468.0,3698.0,280.0,1448.0,4878.0,2636.0,320.0,90293.0,37175.0,16187.0,...,1065.0,1148.0,291300.0,2519.0,1154.0,520.0,440.0,257.0,ZCTA5 08520,08520
2,4782.0,724.0,7.0,192.0,1011.0,565.0,183.0,118656.0,59848.0,3004.0,...,1426.0,1563.0,449700.0,2905.0,180.0,61.0,52.0,22.0,ZCTA5 08525,08525
3,54867.0,11177.0,1189.0,2842.0,7586.0,3318.0,352.0,88588.0,37021.0,29204.0,...,1179.0,1415.0,329500.0,2395.0,1078.0,470.0,372.0,260.0,ZCTA5 08527,08527
4,245.0,42.0,0.0,23.0,24.0,38.0,17.0,58676.0,49117.0,130.0,...,-666666666.0,-666666666.0,326800.0,1651.0,17.0,17.0,0.0,0.0,ZCTA5 08528,08528

In [19]:
census_data_2017 = c_2017.acs5.get(("NAME", "B19013_001E", "B19301_001E", "B23025_002E", "B23025_007E", 
                          "C24010_007E", "C24010_008E", "C24010_043E", "C24010_044E", "B01003_001E",
                          "B25035_001E", "B25058_001E", "B25064_001E", "B25077_001E", "B25088_002E",
                          "B15003_017E", "B15003_018E", "B15003_021E", "B15003_022E", "B15003_023E",
                          "B15003_025E"), {'for': 'zip code tabulation area:*'})
census_pd_2017 = pd.DataFrame(census_data_2017)

census_pd_2017 = census_pd_2017.rename(columns={"B19013_001E": "Income",
                                      "B19301_001E": "Income Per Capita",
                                      "B23025_002E": "Employed",
                                      "B23025_007E": "Unemployed",
                                      "C24010_007E": "Employment Male Computer Engineering and Science Occupations",
                                      "C24010_008E": "Employment Male Computer and Mathematical Occupations",
                                      "C24010_043E": "Employment Female Computer Engineering and Science Occupations",
                                      "C24010_044E": "Employment Female Computer and Mathematical Occupations",
                                      "B01003_001E": "Population",
                                      "B25035_001E": "Median House Construction Year",
                                      "B25058_001E": "Average Rent",
                                      "B25064_001E": "Average Cost of Rent plus Utilities",
                                      "B25077_001E": "Average Value of an Owner Occupied Home",
                                      "B25088_002E": "Average Monthly Housing Expense for a Homeowner with a Mortgage",
                                      "B15003_017E": "People with a High School Diploma",
                                      "B15003_018E": "People with a GED",
                                      "B15003_021E": "People with an Associates",
                                      "B15003_022E": "people with a Bachelors",
                                      "B15003_023E": "People with a Masters",
                                      "B15003_025E": "People with a Doctorate",                                  
                                      "NAME": "Name", 
                                      "zip code tabulation area": "Zipcode"})

census_pd_2017.to_csv("Output/census_2017.csv", encoding="utf-8", index=True)
census_pd_2017.head()

,Population,People with a High School Diploma,People with a GED,People with an Associates,people with a Bachelors,People with a Masters,People with a Doctorate,Income,Income Per Capita,Employed,...,Average Rent,Average Cost of Rent plus Utilities,Average Value of an Owner Occupied Home,Average Monthly Housing Expense for a Homeowner with a Mortgage,Employment Male Computer Engineering and Science Occupations,Employment Male Computer and Mathematical Occupations,Employment Female Computer Engineering and Science Occupations,Employment Female Computer and Mathematical Occupations,Name,Zipcode
0,17599.0,2832.0,135.0,733.0,1787.0,269.0,80.0,11757.0,7041.0,5953.0,...,291.0,373.0,82500.0,748.0,15.0,0.0,21.0,13.0,ZCTA5 00601,00601
1,39209.0,5416.0,906.0,3650.0,3694.0,1097.0,332.0,16190.0,8978.0,14390.0,...,304.0,380.0,87300.0,846.0,333.0,141.0,53.0,0.0,ZCTA5 00602,00602
2,50135.0,8486.0,1171.0,2445.0,5858.0,1605.0,234.0,16645.0,10897.0,16044.0,...,306.0,400.0,122300.0,867.0,372.0,182.0,123.0,42.0,ZCTA5 00603,00603
3,6304.0,1212.0,139.0,249.0,321.0,77.0,17.0,13387.0,5960.0,1707.0,...,185.0,284.0,92700.0,538.0,10.0,0.0,0.0,0.0,ZCTA5 00606,00606
4,27590.0,5205.0,827.0,1987.0,2268.0,500.0,141.0,18741.0,9266.0,10048.0,...,322.0,415.0,90300.0,733.0,126.0,11.0,99.0,0.0,ZCTA5 00610,00610

In [20]:
seattle_zipcodes= ["98101", "98102", "98103", "98104", "98105", "98106", "98107", "98108", 
                   "98109", "98112", "98115","98116", "98117", "98118", "98119", "98121", 
                   "98122", "98125", "98126", "98133", "98134", "98136", "98144", "98146", 
                   "98154", "98164", "98174", "98177", "98178", "98195", "98199"]
portland_zipcodes= [97201, 97203, 97204, 97205, 97208, 97209, 97210, 97211, 97212, 97213, 97214,
                    97215, 97216, 97217, 97218, 97221, 97227, 97232, 97239, 97266]
san_jose_zipcodes= [94089, 95002, 95013, 95050, 95054, 95110, 95111, 95112, 95113, 95116, 95118, 
                    95119, 95120, 95121, 95122, 95123, 95126, 95129, 95130, 95131, 95134, 95135, 
                    95136, 95138, 95139, 95140, 95148]
sacramento_zipcodes= [95811, 95814, 95815, 95816, 95817, 95818, 95819, 95822, 95833, 95834, 95835, 
                      95837]
austin_zipcodes= [78610, 78613, 78617, 78641, 78652, 78653, 78660, 78664, 78681, 78701, 78702, 
                  78703, 78704, 78705, 78712, 78717, 78719, 78721, 78722, 78723, 78724, 78725, 78726, 
                  78727, 78728, 78729, 78730, 78731, 78732, 78733, 78734, 78735, 78736, 78737, 78738, 
                  78739, 78741, 78742, 78744, 78745, 78746, 78747, 78748, 78749, 78750, 78751, 78752, 
                  78753, 78754, 78756, 78757, 78758, 78759]
san_antonio_zipcodes= [78056, 78073, 78202, 78203, 78204, 78205, 78207, 78208, 78210, 78211, 78214, 
                       78215, 78217, 78218, 78220, 78221, 78222, 78224, 78225, 78226, 78227, 78229, 
                       78230, 78231, 78234, 78235, 78237, 78242, 78243, 78245, 78247, 78248, 78249, 
                       78250, 78251, 78252, 78253, 78257, 78258, 78259, 78260, 78264]

In [67]:
#seattle_df = census_pd_2017.groupby(["Zipcode"])  
            


seattle_df_2017 = census_pd_2017[census_pd_2017["Zipcode"]== "98101"]
seattle_df_2017.head()

,Population,People with a High School Diploma,People with a GED,People with an Associates,people with a Bachelors,People with a Masters,People with a Doctorate,Income,Income Per Capita,Employed,...,Average Rent,Average Cost of Rent plus Utilities,Average Value of an Owner Occupied Home,Average Monthly Housing Expense for a Homeowner with a Mortgage,Employment Male Computer Engineering and Science Occupations,Employment Male Computer and Mathematical Occupations,Employment Female Computer Engineering and Science Occupations,Employment Female Computer and Mathematical Occupations,Name,Zipcode
32023,12408.0,891.0,357.0,524.0,3773.0,1732.0,218.0,68750.0,70914.0,8433.0,...,1365.0,1492.0,523700.0,2523.0,1310.0,1042.0,445.0,369.0,ZCTA5 98101,98101

In [68]:
census_pd_2017.columns

Index(['Population', 'People with a High School Diploma', 'People with a GED',
       'People with an Associates', 'people with a Bachelors',
       'People with a Masters', 'People with a Doctorate', 'Income',
       'Income Per Capita', 'Employed', 'Unemployed',
       'Median House Construction Year', 'Average Rent',
       'Average Cost of Rent plus Utilities',
       'Average Value of an Owner Occupied Home',
       'Average Monthly Housing Expense for a Homeowner with a Mortgage',
       'Employment Male Computer Engineering and Science Occupations',
       'Employment Male Computer and Mathematical Occupations',
       'Employment Female Computer Engineering and Science Occupations',
       'Employment Female Computer and Mathematical Occupations', 'Name',
       'Zipcode'],
      dtype='object')

In [72]:
seattle_df_2017_1 = census_pd_2017.loc[["98101", "98102", "98103", "98104"], ['Population', 'People with a High School Diploma', 'People with a GED',
       'People with an Associates', 'people with a Bachelors','People with a Masters', 'People with a Doctorate', 'Income',
       'Income Per Capita', 'Employed', 'Unemployed',
       'Median House Construction Year', 'Average Rent',
       'Average Cost of Rent plus Utilities',
       'Average Value of an Owner Occupied Home',
       'Average Monthly Housing Expense for a Homeowner with a Mortgage',
       'Employment Male Computer Engineering and Science Occupations',
       'Employment Male Computer and Mathematical Occupations',
       'Employment Female Computer Engineering and Science Occupations',
       'Employment Female Computer and Mathematical Occupations', 'Name',
       'Zipcode']]

KeyError: KeyError("None of [Index(['98101', '98102', '98103', '98104'], dtype='object')] are in the [index]",)